


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}





.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.listOfCountries{
  left: 0%;
  right: 50%;
  height: 50%;
  overflow: scroll;
  border: solid 1px red;
  background-image: url(https://cdn.who.int/media/images/default-source/mca/mca-covid-19/coronavirus-2.tmb-479v.jpg?sfvrsn=4dba955c_6%20479w);

}
.details{
  border: 1px solid royalblue;
  background-color: #61dafb;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
  
  
}

.button {
  position: fix;
  right: 0;
  top: 0;
  
}
.search{
  display: block;

  border-radius: 5em 5em 5em 5em;
}
.header{
  background-color: blue;
  text-align: center;
  text-transform: capitalize;
  background-image: url();
}
